USE [RCH_Web_Services]
GO
/****** Object:  StoredProcedure [dbo].[AllStates_GetBeneficiaryData_ById]    Script Date: 09/26/2024 12:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[AllStates_GetBeneficiaryData_ById]
(
@RegistrationNumber varchar(20),
@MethodType int,
@StateID int
)
as
begin

 if @MethodType =1
 begin
 
 select [StateID]
      ,[State_Name]
      ,[District_ID]
      ,[District_Name]
      ,[Taluka_ID]
      ,[Taluka_Name]
      ,[HealthBlock_ID]
      ,[HealthBlock_Name]
      ,[PHC_ID]
      ,[PHC_Name]
      ,[SubCentre_ID]
      ,[SubCentre_Name]
      ,[Village_ID]
      ,[Village_Name]
      ,convert(varchar(12),[Registration_no]) as [Registration_no]
      ,[Case_no]
      ,[EC_Register_srno]
      ,[ID_No]
      ,[Name_wife]
      ,[Name_husband]
      ,[Whose_mobile]
      ,[Landline_no]
      ,[Mobile_no]
      ,[EC_Regisration_Date]
      ,[Wife_current_age]
      ,[Wife_marry_age]
      ,[Hus_current_age]
      ,[Hus_marry_age]
      ,[Address]
      ,[Religion]
      ,[Caste]
      ,[Male_child_born]
      ,[Female_child_born]
      ,[Male_child_live]
      ,[Female_child_live]
      ,[Young_child_gender]
      ,[Young_child_age_month]
      ,[Young_child_age_year]
      ,(case [Infertility_status] when 'N' then 'No' when 'Y' then 'Yes' else null end) as [Infertility_status]
      ,[InfertilityOptions]
      ,[Infertility_refer]
      ,(case [Pregnant_Status] when 'N' then 'No' when 'Y' then 'Yes' when 'D' then 'Dont Know' else null end) as [Pregnant_Status]
      ,(case [Pregnant_Test] when 'P' then 'Positive' when 'N' then 'Negative' when 'D' then 'Not Done' else null end) as [Pregnant_Test]
      ,(case [Eligibility_Status] when 'I' then 'Ineligible' when 'E' then 'Eligible'  end) [Eligibility_Status]
      ,(case [Present_Status] when 'A' then 'Active' when 'I' then 'Inactive'  end)[Present_Status]
      ,[EC_ANM_Name]
      ,[EC_ASHA_Name]
      ,[EC_ANMPhone_No]
      ,[EC_ASHAPhone_No]
      ,[EC_Yr] as EC_Registration_Year
      ,[PW_Aadhar_No] 
      ,[PW_EID] as PW_Enrollment_No
      ,[PW_EIDT] as PW_Enrollment_Time
      ,[PW_AadhaarLinked]
      ,[PW_Bank_Name]
      ,[PW_Branch_Name]
      ,[PW_IFSC_Code]
      ,[PW_Account_No]
      ,[Hus_Aadhar_No]
      ,[Hus_EID] as Husband_Enrollment_No
      ,[Hus_EIDT] as Husband_Enrollment_Time
      ,[Hus_AadhaarLinked]
      ,[Hus_Bank_Name]
      ,[Hus_Branch_Name]
      ,[Hus_IFSC_Code]
      ,[Hus_Account_No]
      ,[Economic_Status]
      ,[Mother_Register_srno]
      ,[Mother_Registration_Date]
      ,[Mother_Weight]
      ,[Mother_BirthDate]
      ,[Mother_Age]
      ,[Mother_ANM_ID]
      ,[Mother_ASHA_ID]
      ,(case [JSY_Beneficiary] when 'N' then 'No' when 'Y' then 'Yes' else null end) as [JSY_Beneficiary]
      ,(case [JSY_Payment_Received] when 'N' then 'No' when 'Y' then 'Yes' else null end) as [JSY_Payment_Received]
      ,(case [Delete_Mother] when '0' then 'No' when '1' then 'Yes' else null end) as [Delete_Mother]
      ,[DeletedOn]
      ,isnull([Entry_Type],'Active') as [Entry_Type]
      ,[Mother_Yr] as Mother_Registration_Year
      ,(case [Mother_SourceID] when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [MotherRegistrationDone_Source]
      ,[Medical_LMP_Date] as LMP_Date
      ,(case [Medical_Reg_12Weeks] when 'N' then 'No' when 'Y' then 'Yes' else null end)  as  PW_Registred_Within_12Week
      ,[Medical_EDD_Date] as EDD_Date
      ,[BloodGroup_Test]
      ,[Medical_Blood_Group] as Blood_Group
      ,[Medical_VDRL_TEST] as VDRL_TEST
      ,[Medical_VDRL_Date] as VDRL_Date
      ,[Med_VDRL_Result] as VDRL_Result
      --,[Medical_HIV_TEST] as HIV_TEST
      --,[Medical_HIV_Date] as HIV_Date
      --,[Med_HIV_Result]
      ,[Medical_Yr] as LMP_Registration_Yr
     
      ,[Med_PastIllness]as PastIllness
      
      ,[Med_Last_Preg_Complication]  as Last_Pregnancy_Complication
      ,[Med_Last_PregOutcome]  as Last_Pregnancy_outcome
      
      ,[Med_SecondLast_PregOutcome] as Last_To_Last_Pregnancy_outcome
      ,[Expected_delivery_place]
      ,[Expected_delivery_placeName]
      ,[Med_Pregnancy_No] as No_of_times_Pregnant
      ,(case [Med_Source_ID] when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as  [MedicalDone_Source]
      ,[ANC1]
      ,[ANC1_Pregnancy_Week]
      ,[ANC1_Weight]
      ,[ANC1_BP_Systolic]
      ,[ANC1_BP_Distolic]
      ,[ANC1_Hb_gm]
      ,[ANC1_Urine_Test]
      ,[ANC1_Urine_Albumin]
      ,[ANC1_Urine_Sugar]
      ,[ANC1_BloodSugar_Test]
      ,[ANC1_Blood_Sugar_Fasting]
      ,[ANC1_Blood_Sugar_Post_Prandial]
      ,[ANC1_FA_Given]
      ,[ANC1_IFA_Given]
      ,[ANC1_Abdoman_FH]
      ,[ANC1_Abdoman_FHS]
      ,[ANC1_Abdoman_FP]
      ,[ANC1_Foetal_Movements]
      ,[ANC1_Symptoms_High_Risk]
      ,[ANC1_Referal_Facility]
      ,[ANC1_Referal_FacilityName]
      ,[ANC1_Referal_Date]
      ,[ANC1_ANM_ID]
      ,[ANC1_ASHA_ID]
      ,(case [ANC1_SourceID] when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [ANC1Done_Source]
      ,[ANC2]
      ,[ANC2_Pregnancy_Week]
      ,[ANC2_Weight]
      ,[ANC2_BP_Systolic]
      ,[ANC2_BP_Distolic]
      ,[ANC2_Hb_gm]
      ,[ANC2_Urine_Test]
      ,[ANC2_Urine_Albumin]
      ,[ANC2_Urine_Sugar]
      ,[ANC2_BloodSugar_Test]
      ,[ANC2_Blood_Sugar_Fasting]
      ,[ANC2_Blood_Sugar_Post_Prandial]
      ,[ANC2_FA_Given]
      ,[ANC2_IFA_Given]
      ,[ANC2_Abdoman_FH]
      ,[ANC2_Abdoman_FHS]
      ,[ANC2_Abdoman_FP]
      ,[ANC2_Foetal_Movements]
      ,[ANC2_Symptoms_High_Risk]
      ,[ANC2_Referal_Facility]
      ,[ANC2_Referal_FacilityName]
      ,[ANC2_Referal_Date]
      ,[ANC2_ANM_ID]
      ,[ANC2_ASHA_ID]
      ,(case [ANC2_SourceID] when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [ANC2Done_Source]
      ,[ANC3]
      ,[ANC3_Pregnancy_Week]
      ,[ANC3_Weight]
      ,[ANC3_BP_Systolic]
      ,[ANC3_BP_Distolic]
      ,[ANC3_Hb_gm]
      ,[ANC3_Urine_Test]
      ,[ANC3_Urine_Albumin]
      ,[ANC3_Urine_Sugar]
      ,[ANC3_BloodSugar_Test]
      ,[ANC3_Blood_Sugar_Fasting]
      ,[ANC3_Blood_Sugar_Post_Prandial]
      ,[ANC3_FA_Given]
      ,[ANC3_IFA_Given]
      ,[ANC3_Abdoman_FH]
      ,[ANC3_Abdoman_FHS]
      ,[ANC3_Abdoman_FP]
      ,[ANC3_Foetal_Movements]
      ,[ANC3_Symptoms_High_Risk]
      ,[ANC3_Referal_Facility]
      ,[ANC3_Referal_FacilityName]
      ,[ANC3_Referal_Date]
      ,[ANC3_ANM_ID]
      ,[ANC3_ASHA_ID]
      ,(case [ANC3_SourceID] when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [ANC3Done_Source]
      ,[ANC4]
      ,[ANC4_Pregnancy_Week]
      ,[ANC4_Weight]
      ,[ANC4_BP_Systolic]
      ,[ANC4_BP_Distolic]
      ,[ANC4_Hb_gm]
      ,[ANC4_Urine_Test]
      ,[ANC4_Urine_Albumin]
      ,[ANC4_Urine_Sugar]
      ,[ANC4_BloodSugar_Test]
      ,[ANC4_Blood_Sugar_Fasting]
      ,[ANC4_Blood_Sugar_Post_Prandial]
      ,[ANC4_FA_Given]
      ,[ANC4_IFA_Given]
      ,[ANC4_Abdoman_FH]
      ,[ANC4_Abdoman_FHS]
      ,[ANC4_Abdoman_FP]
      ,[ANC4_Foetal_Movements]
      ,[ANC4_Symptoms_High_Risk_VAL]
      ,[ANC4_Symptoms_High_Risk]
      ,[ANC4_Referal_Facility]
      ,[ANC4_Referal_FacilityName]
      ,[ANC4_Referal_Date]
      ,[ANC4_ANM_ID]
      ,[ANC4_ASHA_ID]
      ,(case [ANC4_SourceID] when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [ANC4Done_Source]
      ,[TT1]
      ,[TT2]
      ,[TTB]
      ,[IFA]
      ,[AbortionDate]
      ,[Abortion_Type]
      ,[Abortion_Preg_Weeks]
      ,[Induced_Indicate_Facility]
      ,[Maternal_Death]
      ,[Death_Date]
      ,[Death_Reason]
      ,[PPMC]
      ,[Delivery_date]
      ,[Delivery_Place]
      ,[Delivery_Place_Name]
      ,[Delivery_Conducted_By]
      ,[Delivery_Type]
      ,[Delivery_Death_Cause]
      ,[Delivery_Outcomes]
      ,[Live_Birth]
      ,[Still_Birth]
      ,[Discharge_Date]
      ,[JSY_Paid_Date]
      ,[Delivery_ANM_ID]
      ,[Delivery_ASHA_ID]
      ,[Delivery_Time] 
      ,[Discharge_Time]
      ,[Delivery_Complication]
      ,(case Delivery_SourceID when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as  [DeliveryDone_Source]
      ,[PNC1_No]
      ,[PNC1_Type]
      ,[PNC1_Date]
      ,[PNC1_IFA_Tab]
      ,[PNC1_DangerSign_Mother]
      ,[PNC1_ReferralFacility_Mother]
      ,[PNC1_PPC]
      ,[PNC1_ANM_ID]
      ,[PNC1_ASHA_ID]
      ,(case PNC1_Source_ID when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [PNC1Done_Source]
      ,[PNC2_No]
      ,[PNC2_Type]
      ,[PNC2_Date]
      ,[PNC2_IFA_Tab]
      ,[PNC2_DangerSign_Mother]
      ,[PNC2_ReferralFacility_Mother]
      ,[PNC2_PPC]
      ,[PNC2_ANM_ID]
      ,[PNC2_ASHA_ID]
      ,(case PNC2_Source_ID when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [PNC2Done_Source]
      ,[PNC3_No]
      ,[PNC3_Type]
      ,[PNC3_Date]
      ,[PNC3_IFA_Tab]
      ,[PNC3_DangerSign_Mother]
      ,[PNC3_ReferralFacility_Mother]
      ,[PNC3_PPC]
      ,[PNC3_ANM_ID]
      ,[PNC3_ASHA_ID]
      ,(case PNC3_Source_ID when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [PNC3Done_Source]
      ,[PNC4_No]
      ,[PNC4_Type]
      ,[PNC4_Date]
      ,[PNC4_IFA_Tab]
	  ,[PNC4_DangerSign_Mother]
      ,[PNC4_ReferralFacility_Mother]
      ,[PNC4_PPC]
      ,[PNC4_ANM_ID]
      ,[PNC4_ASHA_ID]
      ,(case PNC4_Source_ID when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [PNC4Done_Source]
      ,[PNC5_No]
      ,[PNC5_Type]
      ,[PNC5_Date]
      ,[PNC5_IFA_Tab]
      ,[PNC5_DangerSign_Mother]
      ,[PNC5_ReferralFacility_Mother]
      ,[PNC5_PPC]
      ,[PNC5_ANM_ID]
      ,[PNC5_ASHA_ID]
      ,(case PNC5_Source_ID when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [PNC5Done_Source]
      ,[PNC6_No]
      ,[PNC6_Type]
      ,[PNC6_Date]
      ,[PNC6_IFA_Tab]
      ,[PNC6_DangerSign_Mother]
      ,[PNC6_ReferralFacility_Mother]
      ,[PNC6_PPC]
      ,[PNC6_ANM_ID]
      ,[PNC6_ASHA_ID]
      ,(case PNC6_Source_ID when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [PNC6Done_Source]
      ,[PNC7_No]
      ,[PNC7_Type]
      ,[PNC7_Date]
      ,[PNC7_IFA_Tab]
      ,[PNC7_DangerSign_Mother]
      ,[PNC7_ReferralFacility_Mother]
      ,[PNC7_PPC]
      ,[PNC7_ANM_ID]
      ,[PNC7_ASHA_ID]
      ,(case PNC7_Source_ID when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [PNC7Done_Source]
      ,[Mother_Death_Place]
      ,[Mother_Death_Date]
      ,[Mother_Death_Reason]
      ,[Infant1_No]
      ,[Infant1_Id]
      ,[Infant1_Name]
      ,[Infant1_Term]
      ,(case [Infant1_Baby_Cried] when 'Y' then 'Yes' when 'N' then 'No' else null end) as [Infant1_Baby_Cried]
      ,(case [Infant1_Resucitation_Done] when '1' then 'Yes' when '0' then 'No' else null end) as [Infant1_Resucitation_Done]
      ,[Infant1_BirthDefect]
      ,(case [Infant1_Gender] when 'F' then 'Female' when 'M' then 'Male' else null end) as [Infant1_Gender]
      ,[Infant1_Weight]
      ,(case when [Infant1_Breast_Feeding]='1' then 'Yes'  else 'No' end) as [Infant1_Breast_Feeding]
      ,(case [Infant1_Reffered_HigherFacility] when 'Y' then 'Yes' when 'N' then 'No' else null end) as [Infant1_Reffered_HigherFacility]
      ,[Infant1_ANM_ID]
      ,[Infant1_ASHA_ID]
      ,(case [Infant1_Source_ID] when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [Infant1RegistrationDone_Source]
      ,[Infant2_No]
      ,[Infant2_Id]
      ,[Infant2_Name]
      ,[Infant2_Term]
      ,(case [Infant2_Baby_Cried] when 'Y' then 'Yes' when 'N' then 'No' else null end) as [Infant2_Baby_Cried]
      ,(case [Infant2_Resucitation_Done] when '1' then 'Yes' when '0' then 'No' else null end) as [Infant2_Resucitation_Done]
      ,[Infant2_BirthDefect]
      ,(case [Infant2_Gender] when 'F' then 'Female' when 'M' then 'Male' else null end) as [Infant2_Gender]
      ,[Infant2_Weight]
      ,(case when [Infant2_Breast_Feeding]='1' then 'Yes'  else 'No' end) as [Infant2_Breast_Feeding]
      ,(case [Infant2_Reffered_HigherFacility] when 'Y' then 'Yes' when 'N' then 'No' else null end) as [Infant2_Reffered_HigherFacility]
      ,[Infant2_ANM_ID]
      ,[Infant2_ASHA_ID]
      ,(case [Infant2_Source_ID] when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [Infant2RegistrationDone_Source]
      ,[Infant3_No]
      ,[Infant3_Id]
      ,[Infant3_Name]
      ,[Infant3_Term]
      ,(case [Infant3_Baby_Cried] when 'Y' then 'Yes' when 'N' then 'No' else null end) as [Infant3_Baby_Cried]
      ,(case [Infant3_Resucitation_Done] when '1' then 'Yes' when '0' then 'No' else null end) as [Infant3_Resucitation_Done]
      ,[Infant3_BirthDefect]
      ,(case [Infant3_Gender] when 'F' then 'Female' when 'M' then 'Male' else null end) as [Infant3_Gender]
      ,[Infant3_Weight]
      ,(case when [Infant3_Breast_Feeding]='1' then 'Yes'  else 'No' end) as [Infant3_Breast_Feeding]
      ,(case [Infant3_Reffered_HigherFacility] when 'Y' then 'Yes' when 'N' then 'No' else null end) as [Infant3_Reffered_HigherFacility]
      ,[Infant3_ANM_ID]
      ,[Infant3_ASHA_ID]
      ,(case [Infant3_Source_ID] when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [Infant3RegistrationDone_Source]
      ,[Infant4_No]
      ,[Infant4_Id]
      ,[Infant4_Name]
      ,[Infant4_Term]
      ,(case [Infant4_Baby_Cried] when 'Y' then 'Yes' when 'N' then 'No' else null end) as [Infant4_Baby_Cried]
      ,(case [Infant4_Resucitation_Done] when '1' then 'Yes' when '0' then 'No' else null end) as [Infant4_Resucitation_Done]
      ,[Infant4_BirthDefect]
      ,(case [Infant4_Gender] when 'F' then 'Female' when 'M' then 'Male' else null end) as [Infant4_Gender]
      ,[Infant4_Weight]
      ,(case when [Infant4_Breast_Feeding]='1' then 'Yes'  else 'No' end) as [Infant4_Breast_Feeding]
      ,(case [Infant4_Reffered_HigherFacility] when 'Y' then 'Yes' when 'N' then 'No' else null end) as [Infant4_Reffered_HigherFacility]
      ,[Infant4_ANM_ID]
      ,[Infant4_ASHA_ID]
      ,(case [Infant4_Source_ID] when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [Infant4RegistrationDone_Source]
      ,[Infant5_No]
      ,[Infant5_Id]
      ,[Infant5_Name]
      ,[Infant5_Term]
      ,(case [Infant5_Baby_Cried] when 'Y' then 'Yes' when 'N' then 'No' else null end) as [Infant5_Baby_Cried]
      ,(case [Infant5_Resucitation_Done] when '1' then 'Yes' when '0' then 'No' else null end) as [Infant5_Resucitation_Done]
      ,[Infant5_BirthDefect]
      ,(case [Infant5_Gender] when 'F' then 'Female' when 'M' then 'Male' else null end) as [Infant5_Gender]
      ,[Infant5_Weight]
      ,(case when [Infant5_Breast_Feeding]='1' then 'Yes'  else 'No' end) as [Infant5_Breast_Feeding]
      ,(case [Infant5_Reffered_HigherFacility] when 'Y' then 'Yes' when 'N' then 'No' else null end) as [Infant5_Reffered_HigherFacility]
      ,[Infant5_ANM_ID]
      ,[Infant5_ASHA_ID]
      ,(case [Infant5_Source_ID] when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [Infant5RegistrationDone_Source]
      ,[Infant6_No]
      ,[Infant6_Id]
      ,[Infant6_Name]
      ,[Infant6_Term]
      ,(case [Infant6_Baby_Cried] when 'Y' then 'Yes' when 'N' then 'No' else null end) as [Infant6_Baby_Cried]
      ,(case [Infant6_Resucitation_Done] when '1' then 'Yes' when '0' then 'No' else null end) as [Infant6_Resucitation_Done]
      ,[Infant6_BirthDefect]
      ,(case [Infant6_Gender] when 'F' then 'Female' when 'M' then 'Male' else null end) as [Infant6_Gender]
      ,[Infant6_Weight]
      ,(case when [Infant6_Breast_Feeding]='1' then 'Yes'  else 'No' end) as [Infant6_Breast_Feeding]
      ,(case [Infant6_Reffered_HigherFacility] when 'Y' then 'Yes' when 'N' then 'No' else null end) as [Infant6_Reffered_HigherFacility]
      ,[Infant6_ANM_ID]
      ,[Infant6_ASHA_ID]
      ,(case [Infant6_Source_ID] when '0' then 'Portal' when '1' then 'USSD' when '3' then 'TAB' else null end) as [Infant6RegistrationDone_Source]
      ,[Infant_Death_Place]
      ,[Infant_Death_Date]
      ,[Infant_Death_Reason]
      ,[Exec_Date] from master_mother_data 
  where StateID=@StateID and Registration_no=@RegistrationNumber  
 
 end
 else if @MethodType =2
 begin
 select 
 [StateID]
      ,[State_Name]
      ,[District_ID]
      ,[District_Name]
      ,[Taluka_ID]
      ,[Taluka_Name]
      ,[HealthBlock_ID]
      ,[HealthBlock_Name]
      ,[PHC_ID]
      ,[PHC_Name]
      ,[SubCentre_ID]
      ,[SubCentre_Name]
      ,[Village_ID]
      ,[Village_Name]
      ,convert(varchar(12),[Registration_no])  as Child_RCH_ID_No
      ,[Register_srno]
      ,[Financial_Year]
      ,[Registration_Date]
      ,[Name_Child]
      ,[Gender]
      ,[Birth_Date]
      ,[Birth_place]
      ,[Mother_Reg_no]  as Mother_RCH_ID_No
      ,[Mother_Case_no]
      ,[Mother_ID_No] as Mother_MCTS_ID_No
      ,[ID_No]  as Child_MCTS_ID_No
      ,[Name_Mother]
      ,[Landline_no]
      ,[Mobile_no]
      ,[Address]
      ,[Religion]
      ,[Caste]
      ,[ANM_Name]
      ,[ASHA_Name]
      ,[ANM_Phone_No]
      ,[ASHA_Phone_No]
      ,[Delete_mother]
      ,[Name_Father]
      ,[Mobile_Relates_To]
      ,[Weight]
      ,[Child_Aadhaar_No]
      ,[Child_EID]
      ,[Child_EIDTime]
      ,[Birth_Certificate_Number]
      ,[Entry_Type]
      ,[Fully_Immunized]
      ,[Received_AllVaccines]
      ,[AEFI_Serious]
      ,[AEFI_Serious_Vaccination]
      ,[Serious_Reason]
      ,[Reason_closure]
      ,[Death_reason]
      ,[DeathPlace]
      ,[DeathDate]
      ,[Case_closure]
      ,[BCG_Dt]
      ,[BCG_ANM_ID]
      ,[BCG_ASHA_ID]
      ,(case when [BCG_Source_ID]=0 then 'Portal' when [BCG_Source_ID]=1 then 'USSD' when [BCG_Source_ID]=3 then 'TAB' else null end) as BCG_Source_ID
      ,[OPV0_Dt]
      ,[OPV0_ANM_ID]
      ,[OPV0_ASHA_ID]
      ,(case when [OPV0_Source_ID]=0 then 'Portal' when [OPV0_Source_ID]=1 then 'USSD' when [OPV0_Source_ID]=3 then 'TAB' else null end) as [OPV0_Source_ID]
      ,[OPV1_Dt]
      ,[OPV1_ANM_ID]
      ,[OPV1_ASHA_ID]
      ,(case when [OPV1_Source_ID]=0 then 'Portal' when [OPV1_Source_ID]=1 then 'USSD' when [OPV1_Source_ID]=3 then 'TAB' else null end) as [OPV1_Source_ID]
      ,[OPV2_Dt]
      ,[OPV2_ANM_ID]
      ,[OPV2_ASHA_ID]
      ,(case when [OPV2_Source_ID]=0 then 'Portal' when [OPV2_Source_ID]=1 then 'USSD' when [OPV2_Source_ID]=3 then 'TAB' else null end) as [OPV2_Source_ID]
      ,[OPV3_Dt]
      ,[OPV3_ANM_ID]
      ,[OPV3_ASHA_ID]
      ,(case when [OPV3_Source_ID]=0 then 'Portal' when [OPV3_Source_ID]=1 then 'USSD' when [OPV3_Source_ID]=3 then 'TAB' else null end) as [OPV3_Source_ID]
      ,[OPVBooster_Dt]
      ,[OPVBooster_ANM_ID]
      ,[OPVBooster_ASHA_ID]
      ,(case when [OPVBooster_Source_ID]=0 then 'Portal' when [OPVBooster_Source_ID]=1 then 'USSD' when [OPVBooster_Source_ID]=3 then 'TAB' else null end) as [OPVBooster_Source_ID]
      ,[DPT1_Dt]
      ,[DPT1_ANM_ID]
      ,[DPT1_ASHA_ID]
      ,(case when [DPT1_Source_ID]=0 then 'Portal' when [DPT1_Source_ID]=1 then 'USSD' when [DPT1_Source_ID]=3 then 'TAB' else null end) as [DPT1_Source_ID]
      ,[DPT2_Dt]
      ,[DPT2_ANM_ID]
      ,[DPT2_ASHA_ID]
      ,(case when [DPT2_Source_ID]=0 then 'Portal' when [DPT2_Source_ID]=1 then 'USSD' when [DPT2_Source_ID]=3 then 'TAB' else null end) as [DPT2_Source_ID]
      ,[DPT3_Dt]
      ,[DPT3_ANM_ID]
      ,[DPT3_ASHA_ID]
      ,(case when [DPT3_Source_ID]=0 then 'Portal' when [DPT3_Source_ID]=1 then 'USSD' when [DPT3_Source_ID]=3 then 'TAB' else null end) as [DPT3_Source_ID]
      ,[DPTBooster1_Dt]
      ,[DPTBooster1_ANM_ID]
      ,[DPTBooster1_ASHA_ID]
      ,(case when [DPTBooster1_Source_ID]=0 then 'Portal' when [DPTBooster1_Source_ID]=1 then 'USSD' when [DPTBooster1_Source_ID]=3 then 'TAB' else null end) as [DPTBooster1_Source_ID]
      ,[DPTBooster1_Breastfeeding]
      ,[DPTBooster1_Complentary_Feeding]
      ,[DPTBooster1_Complentary_Feeding_Month]
      ,[DPTBooster1_Visit_Date]
      ,[DPTBooster1_Child_Weight]
      ,[DPTBooster1_Diarrhoea]
      ,[DPTBooster1_ORS_Given]
      ,[DPTBooster1_Pneumonia]
      ,[DPTBooster1_Antibiotics_Given]
      ,[DPTBooster2_Dt]
      ,[DPTBooster2_ANM_ID]
      ,[DPTBooster2_ASHA_ID]
      ,(case when [DPTBooster2_Source_ID]=0 then 'Portal' when [DPTBooster2_Source_ID]=1 then 'USSD' when [DPTBooster2_Source_ID]=3 then 'TAB' else null end) as [DPTBooster2_Source_ID]
      ,[HepatitisB0_Dt]
      ,[HepatitisB0_ANM_ID]
      ,[HepatitisB0_ASHA_ID]
      ,(case when [HepatitisB0_Source_ID]=0 then 'Portal' when [HepatitisB0_Source_ID]=1 then 'USSD' when [HepatitisB0_Source_ID]=3 then 'TAB' else null end) as [HepatitisB0_Source_ID]
      ,[HepatitisB1_Dt]
      ,[HepatitisB1_ANM_ID]
      ,[HepatitisB1_ASHA_ID]
      ,(case when [HepatitisB1_Source_ID]=0 then 'Portal' when [HepatitisB1_Source_ID]=1 then 'USSD' when [HepatitisB1_Source_ID]=3 then 'TAB' else null end) as [HepatitisB1_Source_ID]
      ,[HepatitisB2_Dt]
      ,[HepatitisB2_ANM_ID]
      ,[HepatitisB2_ASHA_ID]
      ,(case when [HepatitisB2_Source_ID]=0 then 'Portal' when [HepatitisB2_Source_ID]=1 then 'USSD' when [HepatitisB2_Source_ID]=3 then 'TAB' else null end) as [HepatitisB2_Source_ID]
      ,[HepatitisB3_Dt]
      ,[HepatitisB3_ANM_ID]
      ,[HepatitisB3_ASHA_ID]
      ,(case when [HepatitisB3_Source_ID]=0 then 'Portal' when [HepatitisB3_Source_ID]=1 then 'USSD' when [HepatitisB3_Source_ID]=3 then 'TAB' else null end) as [HepatitisB3_Source_ID]
      ,[Penta1_Dt]
      ,[Penta1_ANM_ID]
      ,[Penta1_ASHA_ID]
      ,(case when [Penta1_Source_ID]=0 then 'Portal' when [Penta1_Source_ID]=1 then 'USSD' when [Penta1_Source_ID]=3 then 'TAB' else null end) as [Penta1_Source_ID]
      ,[Penta2_Dt]
      ,[Penta2_ANM_ID]
      ,[Penta2_ASHA_ID]
      ,(case when [Penta2_Source_ID]=0 then 'Portal' when [Penta2_Source_ID]=1 then 'USSD' when [Penta2_Source_ID]=3 then 'TAB' else null end) as [Penta2_Source_ID]
      ,[Penta3_Dt]
      ,[Penta3_ANM_ID]
      ,[Penta3_ASHA_ID]
      ,(case when [Penta3_Source_ID]=0 then 'Portal' when [Penta3_Source_ID]=1 then 'USSD' when [Penta3_Source_ID]=3 then 'TAB' else null end) as [Penta3_Source_ID]
      ,[Measles1_Dt]
      ,[Measles1_ANM_ID]
      ,[Measles1_ASHA_ID]
      ,(case when [Measles1_Source_ID]=0 then 'Portal' when [Measles1_Source_ID]=1 then 'USSD' when [Measles1_Source_ID]=3 then 'TAB' else null end) as [Measles1_Source_ID]
      ,[Measles1_Breastfeeding]
      ,[Measles1_Complentary_Feeding]
      ,[Measles1_Complentary_Feeding_Month]
      ,[Measles1_Visit_Date]
      ,[Measles1_Child_Weight]
      ,[Measles1_Diarrhoea]
      ,[Measles1_ORS_Given]
      ,[Measles1_Pneumonia]
      ,[Measles1_Antibiotics_Given]
      ,[Measles2_Dt]
      ,[Measles2_ANM_ID]
      ,[Measles2_ASHA_ID]
      ,(case when [Measles2_Source_ID]=0 then 'Portal' when [Measles2_Source_ID]=1 then 'USSD' when [Measles2_Source_ID]=3 then 'TAB' else null end) as [Measles2_Source_ID]
      ,[JE1_Dt]
      ,[JE1_ANM_ID]
      ,[JE1_ASHA_ID]
      ,(case when [JE1_Source_ID]=0 then 'Portal' when [JE1_Source_ID]=1 then 'USSD' when [JE1_Source_ID]=3 then 'TAB' else null end) as [JE1_Source_ID]
      ,[JE2_Dt]
      ,[JE2_ANM_ID]
      ,[JE2_ASHA_ID]
      ,(case when [JE2_Source_ID]=0 then 'Portal' when [JE2_Source_ID]=1 then 'USSD' when [JE2_Source_ID]=3 then 'TAB' else null end) as [JE2_Source_ID]
      ,[VitA_Dose1_Dt]
      ,[VitA_Dose1_ANM_ID]
      ,[VitA_Dose1_ASHA_ID]
      ,[VitA_Dose1_Source_ID]
      ,(case when [VitA_Dose1_Source_ID]=0 then 'Portal' when [VitA_Dose1_Source_ID]=1 then 'USSD' when [VitA_Dose1_Source_ID]=3 then 'TAB' else null end) as [VitA_Dose1_Source_ID]
      ,[VitA_Dose2_Dt]
      ,[VitA_Dose2_ANM_ID]
      ,[VitA_Dose2_ASHA_ID]
      ,(case when [VitA_Dose2_Source_ID]=0 then 'Portal' when [VitA_Dose2_Source_ID]=1 then 'USSD' when [VitA_Dose2_Source_ID]=3 then 'TAB' else null end) as [VitA_Dose2_Source_ID]
      ,[VitA_Dose3_Dt]
      ,[VitA_Dose3_ANM_ID]
      ,[VitA_Dose3_ASHA_ID]
      ,(case when [VitA_Dose3_Source_ID]=0 then 'Portal' when [VitA_Dose3_Source_ID]=1 then 'USSD' when [VitA_Dose3_Source_ID]=3 then 'TAB' else null end) as [VitA_Dose3_Source_ID]
      ,[VitA_Dose4_Dt]
      ,[VitA_Dose4_ANM_ID]
      ,[VitA_Dose4_ASHA_ID]
      ,(case when [VitA_Dose4_Source_ID]=0 then 'Portal' when [VitA_Dose4_Source_ID]=1 then 'USSD' when [VitA_Dose4_Source_ID]=3 then 'TAB' else null end) as [VitA_Dose4_Source_ID]
      ,[VitA_Dose5_Dt]
      ,[VitA_Dose5_ANM_ID]
      ,[VitA_Dose5_ASHA_ID]
      ,(case when [VitA_Dose5_Source_ID]=0 then 'Portal' when [VitA_Dose5_Source_ID]=1 then 'USSD' when [VitA_Dose5_Source_ID]=3 then 'TAB' else null end) as [VitA_Dose5_Source_ID]
      ,[VitA_Dose6_Dt]
      ,[VitA_Dose6_ANM_ID]
      ,[VitA_Dose6_ASHA_ID]
      ,(case when [VitA_Dose6_Source_ID]=0 then 'Portal' when [VitA_Dose6_Source_ID]=1 then 'USSD' when [VitA_Dose6_Source_ID]=3 then 'TAB' else null end) as [VitA_Dose6_Source_ID]
      ,[VitA_Dose7_Dt]
      ,[VitA_Dose7_ANM_ID]
      ,[VitA_Dose7_ASHA_ID]
      ,(case when [VitA_Dose7_Source_ID]=0 then 'Portal' when [VitA_Dose7_Source_ID]=1 then 'USSD' when [VitA_Dose7_Source_ID]=3 then 'TAB' else null end) as [VitA_Dose7_Source_ID]
      ,[VitA_Dose8_Dt]
      ,[VitA_Dose8_ANM_ID]
      ,[VitA_Dose8_ASHA_ID]
      ,(case when [VitA_Dose8_Source_ID]=0 then 'Portal' when [VitA_Dose8_Source_ID]=1 then 'USSD' when [VitA_Dose8_Source_ID]=3 then 'TAB' else null end) as [VitA_Dose8_Source_ID]
      ,[VitA_Dose9_Dt]
      ,[VitA_Dose9_ANM_ID]
      ,[VitA_Dose9_ASHA_ID]
      ,(case when [VitA_Dose9_Source_ID]=0 then 'Portal' when [VitA_Dose9_Source_ID]=1 then 'USSD' when [VitA_Dose9_Source_ID]=3 then 'TAB' else null end) as [VitA_Dose9_Source_ID]
      ,[MMR_Dt]
      ,[MMR_ANM_ID]
      ,[MMR_ASHA_ID]
      ,(case when [MMR_Source_ID]=0 then 'Portal' when [MMR_Source_ID]=1 then 'USSD' when [MMR_Source_ID]=3 then 'TAB' else null end) as [MMR_Source_ID]
      ,[MR_Dt]
      ,[MR_ANM_ID]
      ,[MR_ASHA_ID]
      ,[MR_Source_ID]
      ,(case when [MR_Source_ID]=0 then 'Portal' when [MR_Source_ID]=1 then 'USSD' when [MR_Source_ID]=3 then 'TAB' else null end) as [MR_Source_ID]
      ,[Typhoid_Dt]
      ,[Typhoid_ANM_ID]
      ,[Typhoid_ASHA_ID]
      ,(case when [Typhoid_Source_ID]=0 then 'Portal' when [Typhoid_Source_ID]=1 then 'USSD' when [Typhoid_Source_ID]=3 then 'TAB' else null end) as [Typhoid_Source_ID]
      ,[Rota_Virus_Dt]
      ,[Rota_Virus_ANM_ID]
      ,[Rota_Virus_ASHA_ID]
      ,(case when [Rota_Virus_Source_ID]=0 then 'Portal' when [Rota_Virus_Source_ID]=1 then 'USSD' when [Rota_Virus_Source_ID]=3 then 'TAB' else null end) as [Rota_Virus_Source_ID]
      ,[VitK_Dt]
      ,[VitK_ANM_ID]
      ,[VitK_ASHA_ID]
      ,(case when [VitK_Source_ID]=0 then 'Portal' when [VitK_Source_ID]=1 then 'USSD' when [VitK_Source_ID]=3 then 'TAB' else null end) as [VitK_Source_ID]
      ,[Exec_Date]
 from master_child_data 
   where  StateID=@StateID and Registration_no=@RegistrationNumber 
 end
 
 --else if @MethodType ='A'
 --begin
 
 --select * from [MasterData_Ground_Staff] 
 --where CONVERT(date,Exec_Date,103 ) between CONVERT(date,@FromDate,103) and CONVERT(date,@ToDate,103)  and StateID=@SID
 --end
 
 
end
