USE [RCH_MIGRATION]
GO
/****** Object:  StoredProcedure [dbo].[Schedule_NRHM_Mother_Total]    Script Date: 09/26/2024 14:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER Procedure [dbo].[Schedule_NRHM_Mother_Total]
as
begin
truncate table MCR_24.dbo.NRHM_Format_Mother_Total
--delete from MCR_24.dbo.NRHM_Format_Mother_Total  --where District_ID=9




insert into MCR_24.dbo.NRHM_Format_Mother_Total

select a.[StateID]
      , a.[District_ID]
      , a.[Taluka_ID]
      , a.[HealthBlock_ID]
      , a.[PHC_ID]
      , a.[SubCentre_ID]
      , a.[Village_ID]
      ,[Yr]
      ,(case when [GP_Village] is null then 0 when GP_Village='' then 0 else 1 end) as [GP_Village_Present]
      ,(case when [GP_Village] is null then 1 when GP_Village='' then 1 else 0 end) as [GP_Village_Absent]
      ,(case when [Address] is null then 0 when Address='' then 0 else 1 end) as [Address_Present]
      ,(case when [Address] is null then 1 when Address='' then 1 else 0 end) as [Address_Absent]
      , a.[ID_No]
      ,(case when Name is null then 0 when Name='' then 0 else 1 end) as[Name_Present]
      ,(case when Name is null then 1 when Name='' then 1 else 0 end) as[Name_Absent]
      ,(case when Husband_Name is null then 0 when Husband_Name='' then 0 else 1 end) as[Husband_Name_Present]
      ,(case when Husband_Name is null then 1 when Husband_Name='' then 1 else 0 end) as[Husband_Name_Absent]
      ,(case when PhoneNo_Of_Whom is null then 0 when PhoneNo_Of_Whom='' then 0 else 1 end) as[PhoneNo_Of_Whom_Present]
      ,(case when PhoneNo_Of_Whom is null then 1 when PhoneNo_Of_Whom='' then 1 else 0 end) as[PhoneNo_Of_Whom_Absent]
      ,(case when PhoneNo_Of_Whom='Self' then 1 else 0 end) as [PhoneNo_Of_Whom_Self]
      ,(case when PhoneNo_Of_Whom='Neighbour' then 1 else 0 end) as [PhoneNo_Of_Whom_Neighbour]
      ,(case when PhoneNo_Of_Whom='ASHA' then 1 else 0 end)[PhoneNo_Of_Whom_ASHA]
      ,(case when PhoneNo_Of_Whom='ANM' then 1 else 0 end)[PhoneNo_Of_Whom_ANM]
      ,(case when PhoneNo_Of_Whom='Other' then 1 else 0 end)[PhoneNo_Of_Whom_Other]
      ,(case when PhoneNo_Of_Whom='Relative' then 1 else 0 end)[PhoneNo_Of_Whom_Relative]
      ,(case when PhoneNo_Of_Whom<>'Relative' and PhoneNo_Of_Whom<>'Other' and PhoneNo_Of_Whom<>'ANM'and PhoneNo_Of_Whom<>'ASHA' 
       and PhoneNo_Of_Whom<>'Neighbour' and PhoneNo_Of_Whom<>'Self' and  PhoneNo_Of_Whom<>'' and PhoneNo_Of_Whom is not null then 1 else 0 end)[PhoneNo_Of_Whom_OtherOptions]
      ,(case when Whom_PhoneNo is null then 0 when Whom_PhoneNo='' then 0 else 1 end) as[Whom_PhoneNo_Present]
      ,(case when Whom_PhoneNo is null then 1 when Whom_PhoneNo='' then 1 else 0 end) as[Whom_PhoneNo_Absent]
      ,(case when Birthdate is null then 0 when Birthdate='' then 0 else 1 end)[Birthdate_Present]
      ,(case when Birthdate is null then 1 when Birthdate='' then 1 else 0 end)[Birthdate_Absent]
      ,(case when JSY_Beneficiary is null then 0 when JSY_Beneficiary='' then 0 else 1 end)[JSY_Beneficiary_Present]
      ,(case when JSY_Beneficiary is null then 1 when JSY_Beneficiary='' then 1 else 0 end)[JSY_Beneficiary_Absent]
      ,(case when JSY_Beneficiary='Yes' then 1 else 0 end)[JSY_Beneficiary_Yes]
      ,(case when JSY_Beneficiary='No' then 1 else 0 end)[JSY_Beneficiary_No]
      ,(case when JSY_Beneficiary<>'No' and JSY_Beneficiary<>'Yes' and JSY_Beneficiary<>'' 
       and JSY_Beneficiary is not null then 1 else 0 end)[JSY_Beneficiary_OtherOptions]
      ,(case when Caste is null then 0 when Caste='' then 0 else 1 end)[Caste_Present]
      ,(case when Caste is null then 1 when Caste='' then 1 else 0 end)[Caste_Absent]
      ,(case when Caste='SC' then 1 else 0 end)[Caste_SC]
      ,(case when Caste='ST' then 1 else 0 end)[Caste_ST]
      ,(case when Caste='Others' then 1 else 0 end)[Caste_Others]
      ,(case when Caste<>'SC' and Caste<>'ST' and Caste<>'Others' and Caste is not null and Caste<>'' then 1 else 0 end)[Caste_OtherOptions]
      ,(case when ANM_Name is null then 0 when ANM_Name='' then 0 else 1 end)[ANM_Name_Present]
      ,(case when ANM_Name is null then 1 when ANM_Name='' then 1 else 0 end)[ANM_Name_Absent]
      ,(case when ANM_Phone is null then 0 when ANM_Phone='' then 0 else 1 end)[ANM_Phone_Present]
      ,(case when ANM_Phone is null then 1 when ANM_Phone='' then 1 else 0 end)[ANM_Phone_Absent]
      ,(case when ASHA_Name is null then 0 when ASHA_Name='' then 0 when ASHA_Name='ASHA Not Available' then 0 else 1 end)[ASHA_Name_Present]
      ,(case when ASHA_Name is null then 1 when ASHA_Name='' then 1 when ASHA_Name='ASHA Not Available' then 1 else 0 end)[ASHA_Name_Absent]
      ,(case when ASHA_Phone is null then 0 when ASHA_Phone='' then 0 else 1 end)[ASHA_Phone_Present]
      ,(case when ASHA_Phone is null then 1 when ASHA_Phone='' then 1 else 0 end)[ASHA_Phone_Absent]
      ,(case when Delivery_Lnk_Facility is null then 0 when Delivery_Lnk_Facility='' then 0 else 1 end)[Delivery_Lnk_Facility_Present]
      ,(case when Delivery_Lnk_Facility is null then 1 when Delivery_Lnk_Facility='' then 1 else 0 end)[Delivery_Lnk_Facility_Absent]
      ,(case when Facility_Name is null then 0 when Facility_Name='' then 0 else 1 end)[Facility_Name_Present]
      ,(case when Facility_Name is null then 1 when Facility_Name='' then 1 else 0 end)[Facility_Name_Absent]
      ,[LMP_Date]
      ,(case when LMP_Date is null then 0 when LMP_Date='' then 0 else 1 end)[LMP_Date_Present]
      ,(case when LMP_Date is null then 1 when LMP_Date='' then 1 else 0 end)[LMP_Date_Absent]
      ,Month(LMP_Date)[LMP_Month]
      ,Year(LMP_Date)[LMP_Year]
      
      ,Dateadd(DAY,30,LMP_Date)[LMP_Plus30]
      ,month(Dateadd(DAY,30,LMP_Date))[LMP_Plus30_month]
      ,Year(Dateadd(DAY,30,LMP_Date))[LMP_Plus30_Year]
      ,Dateadd(DAY,91,LMP_Date)[LMP_Plus91]
      ,month(Dateadd(DAY,91,LMP_Date))[LMP_Plus91_month]
      ,Year(Dateadd(DAY,91,LMP_Date))[LMP_Plus91_Year]
      ,Dateadd(DAY,92,LMP_Date)[LMP_Plus92]
      ,Month(Dateadd(DAY,92,LMP_Date))[LMP_Plus92_month]
      ,Year(Dateadd(DAY,91,LMP_Date))[LMP_Plus92_Year]
      ,Dateadd(DAY,188,LMP_Date)[LMP_Plus188]
      ,Month(Dateadd(DAY,188,LMP_Date))[LMP_Plus188_month]
      ,Year(Dateadd(DAY,188,LMP_Date))[LMP_Plus188_Year]
      ,Dateadd(DAY,189,LMP_Date)[LMP_Plus189]
      ,Month(Dateadd(DAY,189,LMP_Date))[LMP_Plus189_month]
      ,Year(Dateadd(DAY,189,LMP_Date))[LMP_Plus189_Year]
      ,Dateadd(DAY,244,LMP_Date)[LMP_Plus244]
      ,Month(Dateadd(DAY,244,LMP_Date))[LMP_Plus244_month]
      ,Year(Dateadd(DAY,244,LMP_Date))[LMP_Plus244_Year]
      ,Dateadd(DAY,245,LMP_Date)[LMP_Plus245]
      ,Month(Dateadd(DAY,245,LMP_Date))[LMP_Plus245_month]
      ,Year(Dateadd(DAY,245,LMP_Date))[LMP_Plus245_Year]
      ,Dateadd(DAY,280,LMP_Date)[LMP_Plus280]
      ,Month(Dateadd(DAY,280,LMP_Date))[LMP_Plus280_month]
      ,Year(Dateadd(DAY,280,LMP_Date))[LMP_Plus280_Year]
      ,Dateadd(Month,4,LMP_Date)[LMP_Plus4]
      ,Month(Dateadd(Month,4,LMP_Date))[LMP_Plus4_month]
      ,Year(Dateadd(Month,4,LMP_Date))[LMP_Plus4_Year]
      ,Dateadd(Month,1,TT1_Date)[TT1_Plus1]
      ,Month(Dateadd(Month,1,TT1_Date))[TT1_Plus1_month]
      ,Year(Dateadd(Month,1,TT1_Date))[TT1_Plus1_Year]
      ,[ANC1_Date]
      ,(case when ANC1_Date is null then 0 when ANC1_Date='' then 0 else 1 end)[ANC1_Date_Present]
      ,(case when ANC1_Date is null then 1 when ANC1_Date='' then 1 else 0 end)[ANC1_Date_Absent]
      ,Month([ANC1_Date])[ANC1_Date_Month]
      ,Year([ANC1_Date])[ANC1_Date_Year]
      ,[ANC2_Date]
      ,(case when ANC2_Date is null then 0 when ANC2_Date='' then 0 else 1 end)[ANC2_Date_Present]
      ,(case when ANC2_Date is null then 1 when ANC2_Date='' then 1 else 0 end)[ANC2_Date_Absent]
      ,Month(ANC2_Date)[ANC2_Date_Month]
      ,Year(ANC2_Date)[ANC2_Date_Year]
      ,[ANC3_Date]
      ,(case when ANC3_Date is null then 0 when ANC3_Date='' then 0 else 1 end)[ANC3_Date_Present]
      ,(case when ANC3_Date is null then 1 when ANC3_Date='' then 1 else 0 end)[ANC3_Date_Absent]
      ,Month(ANC3_Date)[ANC3_Date_Month]
      ,Year(ANC3_Date)[ANC3_Date_Year]
      ,[ANC4_Date]
      ,(case when ANC4_Date is null then 0 when ANC4_Date='' then 0 else 1 end)[ANC4_Date_Present]
      ,(case when ANC4_Date is null then 1 when ANC4_Date='' then 1 else 0 end)[ANC4_Date_Absent]
      ,Month(ANC4_Date)[ANC4_Date_Month]
      ,Year(ANC4_Date)[ANC4_Date_Year]
      ,[TT1_Date]
      ,(case when TT1_Date is null then 0 when TT1_Date='' then 0 else 1 end)[TT1_Date_Present]
      ,(case when TT1_Date is null then 1 when TT1_Date='' then 1 else 0 end)[TT1_Date_Absent]
      ,month([TT1_Date])[TT1_Date_Month]
      ,Year([TT1_Date])[TT1_Date_Year]
      ,[TT2_Date]
      ,(case when [TT2_Date] is null then 0 when [TT2_Date]='' then 0 else 1 end)[TT2_Date_Present]
      ,(case when [TT2_Date] is null then 1 when [TT2_Date]='' then 1 else 0 end)[TT2_Date_Absent]
      ,month([TT2_Date])[TT2_Date_Month]
      ,Year([TT2_Date])[TT2_Date_Year]
      ,TTBooster_Date as [TTB_Date]
      ,(case when TTBooster_Date is null then 0 when TTBooster_Date='' then 0 else 1 end)[TTBooster_Date_Present]
      ,(case when TTBooster_Date is null then 1 when TTBooster_Date='' then 1 else 0 end)[TTBooster_Date_Absent]
      ,month(TTBooster_Date)[TTBooster_Date_Month]
      ,Year(TTBooster_Date)[TTBooster_Date_Year]
      ,IFA100_Given_Date as [IFA_Date]
      ,(case when IFA100_Given_Date is null then 0 when IFA100_Given_Date='' then 0 else 1 end)[IFA100_Given_Date_Present]
      ,(case when IFA100_Given_Date is null then 1 when IFA100_Given_Date='' then 1 else 0 end)[IFA100_Given_Date_Absent]
      ,month(IFA100_Given_Date)[IFA100_Given_Date_Month]
      ,Year(IFA100_Given_Date)[IFA100_Given_Date_Year]
      ,(case when (Abortion='None' or Abortion='' or Abortion is null) then [Dly_Date] else null end) as [Dly_Date]
      ,(case when Dly_Date is not null and Dly_Date<>'' and (Abortion='None' or Abortion='' or Abortion is null) then 1  else 0 end)[Dly_Date_Present]
      ,(case when Dly_Date is not null and Dly_Date<>'' and (Abortion='None' or Abortion='' or Abortion is null) then 0  else 1 end)[Dly_Date_Absent]
      ,(case when Dly_Date is not null and Dly_Date<>'' and (Abortion='None' or Abortion='' or Abortion is null) then month(Dly_Date) else null end)[Dly_Date_Month]
      ,(case when Dly_Date is not null and Dly_Date<>'' and (Abortion='None' or Abortion='' or Abortion is null) then Year(Dly_Date) else null end)[Dly_Date_Year]
      ,(case when Anemia is null then 0 when Anemia='' then 0 else 1 end)[Anemia_Present]
      ,(case when Anemia is null then 1 when Anemia='' then 1 else 0 end)[Anemia_Absent]
      ,(case when Anemia='Moderate<11' then 1 else 0 end)[Anemia_Moderate]
      ,(case when Anemia='Severe<7' then 1 else 0 end)[Anemia_Severe]
      ,(case when Anemia='Normal' then 1 else 0 end)[Anemia_Normal]
      ,(case when Anemia<>'Normal' and Anemia<>'Severe<7' and Anemia<>'Moderate<11' and Anemia<>'' and Anemia is not null then 1 else 0 end)[Anemia_OtherOptions]
      ,(case when ANC_Complication is null then 0 when ANC_Complication='' then 0 else 1 end)[ANC_Complication_Present]
      ,(case when ANC_Complication is null then 1 when ANC_Complication='' then 1 else 0 end)[ANC_Complication_Absent]
      ,(case when ANC_Complication='APH' then 1 else 0 end)[ANC_Complication_APH]
      ,(case when ANC_Complication='Diabetics' then 1 else 0 end)[ANC_Complication_Diabetics]
      ,(case when ANC_Complication='Hypertensive' then 1 else 0 end)[ANC_Complication_Hypertensive]
      ,(case when ANC_Complication='Malaria' then 1 else 0 end)[ANC_Complication_Malaria]
      ,(case when ANC_Complication='None' then 1 else 0 end)[ANC_Complication_None]
      ,(case when ANC_Complication='Other' then 1 else 0 end)[ANC_Complication_Other]
      ,(case when ANC_Complication<>'Other' and ANC_Complication<>'None' and ANC_Complication<>'Malaria' 
       and ANC_Complication<>'Hypertensive' and ANC_Complication<>'Diabetics' and ANC_Complication<>'APH'
       and ANC_Complication<>'' and ANC_Complication is not null  then 1 else 0 end)[ANC_Complication_OtherOptions]
      ,(case when RTI_STI is null then 0 when RTI_STI='' then 0 else 1 end)[RTI_STI_Present]
      ,(case when RTI_STI is null then 1 when RTI_STI='' then 1 else 0 end)[RTI_STI_Absent]
      ,(case when RTI_STI ='Yes' then 1 else 0 end)[RTI_STI_YES]
      ,(case when RTI_STI ='No' then 1 else 0 end)[RTI_STI_No]
      ,(case when RTI_STI <>'Yes' and RTI_STI <>'No' and RTI_STI <>'' and RTI_STI is not null then 1 else 0 end)[RTI_STI_OtherOptions]
      ,(case when Dly_Place_Home_Type is null then 0 when Dly_Place_Home_Type='' then 0 else 1 end)[Dly_Place_Home_Type_Present]
      ,(case when Dly_Place_Home_Type is null then 1 when Dly_Place_Home_Type='' then 1 else 0 end)[Dly_Place_Home_Type_Absent]
      ,(case when Dly_Place_Home_Type ='Non SBA' then 1 else 0 end)[Dly_Place_Home_Type_NonSBA]
      ,(case when Dly_Place_Home_Type ='SBA' then 1 else 0 end)[Dly_Place_Home_Type_SBA]
      ,(case when Dly_Place_Home_Type <>'SBA' and Dly_Place_Home_Type <>'Non SBA'  and Dly_Place_Home_Type <>'' and Dly_Place_Home_Type is not null  then 1 else 0 end)[Dly_Place_Home_Type_OtherOptions]
      ,(case when Dly_Place_Public is null then 0 when Dly_Place_Public='' then 0 else 1 end)[Dly_Place_Public_Present]
      ,(case when Dly_Place_Public is null then 1 when Dly_Place_Public='' then 1 else 0 end)[Dly_Place_Public_Absent]
      ,(case when Dly_Place_Public ='CHC' then 1 else 0 end)[Dly_Place_Public_CHC]
      ,(case when Dly_Place_Public ='DH' then 1 else 0 end)[Dly_Place_Public_DH]
      ,(case when Dly_Place_Public ='In Transit' then 1 else 0 end)[Dly_Place_Public_InTransit]
      ,(case when Dly_Place_Public ='Maternity Home' then 1 else 0 end)[Dly_Place_Public_MaternityHome]
      ,(case when Dly_Place_Public ='Other Public' then 1 else 0 end)[Dly_Place_Public_OtherPublic]
      ,(case when Dly_Place_Public ='PHC' then 1 else 0 end)[Dly_Place_Public_PHC]
      ,(case when Dly_Place_Public ='SDH' then 1 else 0 end)[Dly_Place_Public_SDH]
      ,(case when Dly_Place_Public ='SubCentre' then 1 else 0 end)[Dly_Place_Public_SubCentre]
      ,(case when Dly_Place_Public <>'CHC' and Dly_Place_Public <>'DH' and Dly_Place_Public <>'In Transit' and Dly_Place_Public <>'Maternity Home'
       and Dly_Place_Public <>'Other Public' and Dly_Place_Public <>'PHC' and Dly_Place_Public <>'SDH' and Dly_Place_Public <>'SubCentre' and Dly_Place_Public <>''
       and Dly_Place_Public is null  then 1 else 0 end)[Dly_Place_Public_OtherOptions]
      ,(case when Dly_Place_Private is null then 0 when Dly_Place_Private='' then 0 else 1 end)[Dly_Place_Private_Present]
      ,(case when Dly_Place_Private is null then 1 when Dly_Place_Private='' then 1 else 0 end)[Dly_Place_Private_Absent]
      ,(case when Dly_Type is null then 0 when Dly_Type='' then 0 else 1 end)[Dly_Type_Present]
      ,(case when Dly_Type is null then 1 when Dly_Type='' then 1 else 0 end)[Dly_Type_Absent]
      ,(case when Dly_Type ='CS' then 1 else 0 end)[Dly_Type_CS]
      ,(case when Dly_Type ='Instrumental' then 1 else 0 end)[Dly_Type_Instrumental]
      ,(case when Dly_Type ='Normal' then 1 else 0 end)[Dly_Type_Normal]
      ,(case when Dly_Type <>'CS' and Dly_Type <>'Instrumental' and Dly_Type <>'Normal' and Dly_Type <>'' and Dly_Type is not null then 1 else 0 end)[Dly_Type_OtherOptions]
      ,(case when Dly_Complication is null then 0 when Dly_Complication='' then 0 else 1 end)[Dly_Complication_Present]
      ,(case when Dly_Complication is null then 1 when Dly_Complication='' then 1 else 0 end)[Dly_Complication_Absent]
      ,(case when Dly_Complication='Yes' then 1 else 0 end)[Dly_Complication_Yes]
      ,(case when Dly_Complication='No' then 1 else 0 end)[Dly_Complication_No]
      ,(case when Dly_Complication <>'No' and Dly_Complication <>'Yes' and Dly_Complication <>'' and Dly_Complication is not null then 1 else 0 end)[Dly_Complication_OtherOptions]
      ,[Discharge_Date]
      ,(case when Discharge_Date is null then 0 when Discharge_Date='' then 0 else 1 end)[Discharge_Date_Present]
      ,(case when Discharge_Date is null then 1 when Discharge_Date='' then 1 else 0 end)[Discharge_Date_Absent]
      ,Month(Discharge_Date) [Discharge_Date_Month]
      ,Year(Discharge_Date) [Discharge_Date_Year]
      ,[JSY_Paid_Date]
      ,(case when JSY_Paid_Date is null then 0 when JSY_Paid_Date='' then 0 else 1 end)[JSY_Paid_Date_Present]
      ,(case when JSY_Paid_Date is null then 1 when JSY_Paid_Date='' then 1 else 0 end)[JSY_Paid_Date_Absent]
      ,month(JSY_Paid_Date)[JSY_Paid_Date_Month]
      ,Year(JSY_Paid_Date)[JSY_Paid_Date_Year]
      ,(case when Dly_Date is not null and Dly_Date<>'' and Abortion<>'None' and  Abortion<>'' and Abortion is not null then [Dly_Date] else null end) as Abortion_Date
      ,(case when Dly_Date is not null and Dly_Date<>'' and Abortion<>'None' and  Abortion<>'' and Abortion is not null then month([Dly_Date]) else null end) as[Abortion_Date_month]
      ,(case when Dly_Date is not null and Dly_Date<>'' and Abortion<>'None' and  Abortion<>'' and Abortion is not null then Year([Dly_Date]) else null end) as[Abortion_Date_Year]
      ,(case when Dly_Date is not null and Dly_Date<>'' and Abortion<>'None' and  Abortion<>'' and Abortion is not null then 1 else 0 end) as[Abortion_Present]
      ,(case when Dly_Date is not null and Dly_Date<>'' and Abortion<>'None' and  Abortion<>'' and Abortion is not null then 0 else 1 end) as[Abortion_Absent]
      ,(case when Abortion ='MTP<12 Weeks' then 1 else 0 end)[Abortion_MTPL12Weeks]
      ,(case when Abortion ='MTP>12 Weeks' then 1 else 0 end)[Abortion_MTPG12Weeks]
      ,(case when Abortion ='None' then 1 else 0 end)[Abortion_None]
      ,(case when Abortion ='Spontaneous' then 1 else 0 end)[Abortion_Spontaneous]
      ,(case when Abortion <>'Spontaneous' and Abortion <>'None' and Abortion <>'MTP<12 Weeks' and Abortion <>'MTP>12 Weeks' and Abortion <>'' and Abortion is not null  then 1 else 0 end)[Abortion_OtherOptions]
      ,(case when PNC_Home_Visit is null then 0 when PNC_Home_Visit='' then 0 else 1 end)[PNC_Home_Visit_Present]
      ,(case when PNC_Home_Visit is null then 1 when PNC_Home_Visit='' then 1 else 0 end)[PNC_Home_Visit_Absent]
      ,(case when PNC_Home_Visit ='More Than 7 days' then 1 else 0 end)[PNC_Home_Visit_MoreT7Days]
      ,(case when PNC_Home_Visit ='Within 48 hours' then 1 else 0 end)[PNC_Home_Visit_Within48hrs]
      ,(case when PNC_Home_Visit ='Within 7 days' then 1 else 0 end)[PNC_Home_Visit_Within7Days]
      ,(case when PNC_Home_Visit ='None' then 1 else 0 end)[PNC_Home_Visit_None]
      ,(case when PNC_Home_Visit <>'More Than 7 days' and PNC_Home_Visit <>'Within 48 hours' and PNC_Home_Visit <>'Within 7 days' 
        and PNC_Home_Visit <>'None' and PNC_Home_Visit <>'' and PNC_Home_Visit is not null  then 1 else 0 end)[PNC_Home_Visit_OtherOptions]
      ,(case when PNC_Complication is null then 0 when PNC_Complication='' then 0 else 1 end)[PNC_Complication_Present]
      ,(case when PNC_Complication is null then 1 when PNC_Complication='' then 1 else 0 end)[PNC_Complication_Absent]
      ,(case when PNC_Complication='Death' then 1 else 0 end)[PNC_Complication_Death]
      ,(case when PNC_Complication='None' then 1 else 0 end)[PNC_Complication_None]
      ,(case when PNC_Complication='Others' then 1 else 0 end)[PNC_Complication_Others]
      ,(case when PNC_Complication='PPH' then 1 else 0 end)[PNC_Complication_PPH]
      ,(case when PNC_Complication='Sepsis' then 1 else 0 end)[PNC_Complication_Sepsis]
      ,(case when PNC_Complication<>'Death' and PNC_Complication<>'Sepsis' and PNC_Complication<>'PPH' and PNC_Complication<>'Others'
        and PNC_Complication<>'None' and PNC_Complication<>'' and PNC_Complication is not null  then 1 else 0 end)[PNC_Complication_OtherOptions]
      ,(case when PPC_Method is null then 0 when PPC_Method='' then 0 else 1 end)[PPC_Method_Present]
      ,(case when PPC_Method is null then 1 when PPC_Method='' then 1 else 0 end)[PPC_Method_Absent]
      ,(case when PPC_Method='Condom' then 1 else 0 end)[PPC_Method_Condom]
      ,(case when PPC_Method='Injectibles' then 1 else 0 end)[PPC_Method_Injectibles]
      ,(case when PPC_Method='IUD' then 1 else 0 end)[PPC_Method_IUD]
      ,(case when PPC_Method='None' then 1 else 0 end)[PPC_Method_None]
      ,(case when PPC_Method='Oral Pills' then 1 else 0 end)[PPC_Method_Oral Pills]
      ,(case when PPC_Method='Sterilisation' then 1 else 0 end)[PPC_Method_Sterilisation]
      ,(case when PPC_Method<>'Condom' and PPC_Method<>'Injectibles' and PPC_Method<>'IUD' and PPC_Method<>'None' and PPC_Method<>'Oral Pills'
        and PPC_Method<>'Sterilisation' and PPC_Method<>'' and PPC_Method is not null then 1 else 0 end)[PPC_Method_OtherOptions]
      ,(case when PNC_Checkup is null then 0 when PNC_Checkup='' then 0 else 1 end)[PNC_Checkup_Present]
      ,(case when PNC_Checkup is null then 1 when PNC_Checkup='' then 1 else 0 end)[PNC_Checkup_Absent]
      ,(case when PNC_Checkup='No' then 1 else 0 end)[PNC_Checkup_No]
      ,(case when PNC_Checkup='Yes' then 1 else 0 end)[PNC_Checkup_Yes]
      ,(case when PNC_Checkup<>'No' and PNC_Checkup<>'Yes' and PNC_Checkup<>'' and PNC_Checkup is not null then 1 else 0 end)[PNC_Checkup_OtherOptions]
      ,(case when Outcome_Nos is null then 0 when Outcome_Nos='' then 0 else 1 end)[Outcome_Nos_Present]
      ,(case when Outcome_Nos is null then 1 when Outcome_Nos='' then 1 else 0 end)[Outcome_Nos_Absent]
      ,(case when Outcome_Nos=0 then 1 else 0 end)[Outcome_Nos_Zero]
      ,(case when Outcome_Nos=1 then 1 else 0 end)[Outcome_Nos_One]
      ,(case when Outcome_Nos=2 then 1 else 0 end)[Outcome_Nos_Two]
      ,(case when Outcome_Nos=3 then 1 else 0 end)[Outcome_Nos_Three]
      ,(case when Outcome_Nos=4 then 1 else 0 end)[Outcome_Nos_Four]
      ,(case when Outcome_Nos>4 then 1 else 0 end)[Outcome_Nos_OtherOptions]
      ,(case when Child1_ID is null then 0 when Child1_ID='' then 0 else 1 end)[Child1_ID_Present]
      ,(case when Child1_ID is null then 1 when Child1_ID='' then 1 else 0 end)[Child1_ID_Absent]
      ,(case when Child1_Name is null then 0 when Child1_Name='' then 0 else 1 end)[Child1_Name_Present]
      ,(case when Child1_Name is null then 1 when Child1_Name='' then 1 else 0 end)[Child1_Name_Absent]
      ,(case when Child1_Sex is null then 0 when Child1_Sex='' then 0 else 1 end)[Child1_Sex_Present]
      ,(case when Child1_Sex is null then 1 when Child1_Sex='' then 1 else 0 end)[Child1_Sex_Absent]
      ,(case when Child1_Sex='Female' then 1 else 0 end)[Child1_Sex_Female]
      ,(case when Child1_Sex='Male' then 1 else 0 end)[Child1_Sex_Male]
      ,(case when Child1_Sex<>'Female' and Child1_Sex<>'Male' and Child1_Sex<>'' and Child1_Sex is not null then 1 else 0 end)[Child1_Sex_OtherOptions]
      ,(case when Child1_Wt is null then 0 when Child1_Wt='' then 0 else 1 end)[Child1_Wt_Present]
      ,(case when Child1_Wt is null then 1 when Child1_Wt='' then 1 else 0 end)[Child1_Wt_Absent]
      ,(case when Child1_Brestfeeding is null then 0 when Child1_Brestfeeding='' then 0 else 1 end)[Child1_Brestfeeding_Present]
      ,(case when Child1_Brestfeeding is null then 1 when Child1_Brestfeeding='' then 1 else 0 end)[Child1_Brestfeeding_Absent]
      ,(case when Child1_Brestfeeding='No' then 1 else 0 end)[Child1_Brestfeeding_No]
      ,(case when Child1_Brestfeeding='Yes' then 1 else 0 end)[Child1_Brestfeeding_Yes]
      ,(case when Child2_ID is null then 0 when Child2_ID='' then 0 else 1 end)[Child2_ID_Present]
      ,(case when Child2_ID is null then 1 when Child2_ID='' then 1 else 0 end)[Child2_ID_Absent]
      ,(case when Child2_Name is null then 0 when Child2_Name='' then 0 else 1 end)[Child2_Name_Present]
      ,(case when Child2_Name is null then 1 when Child2_Name='' then 1 else 0 end)[Child2_Name_Absent]
      ,(case when Child2_Sex is null then 0 when Child2_Sex='' then 0 else 1 end)[Child2_Sex_Present]
      ,(case when Child2_Sex is null then 1 when Child2_Sex='' then 1 else 0 end)[Child2_Sex_Absent]
      ,(case when Child2_Sex='Female' then 1 else 0 end)[Child2_Sex_Female]
      ,(case when Child2_Sex='Male' then 1 else 0 end)[Child2_Sex_Male]
      ,(case when Child2_Sex<>'Female' and Child2_Sex<>'Male' and Child2_Sex<>'' and Child2_Sex is not null then 1 else 0 end)[Child2_Sex_OtherOptions]
      ,(case when Child2_Wt is null then 0 when Child2_Wt='' then 0 else 1 end)[Child2_Wt_Present]
      ,(case when Child2_Wt is null then 1 when Child2_Wt='' then 1 else 0 end)[Child2_Wt_Absent]
      ,(case when Child2_Brestfeeding is null then 0 when Child2_Brestfeeding='' then 0 else 1 end)[Child2_Brestfeeding_Present]
      ,(case when Child2_Brestfeeding is null then 1 when Child2_Brestfeeding='' then 1 else 0 end)[Child2_Brestfeeding_Absent]
      ,(case when Child2_Brestfeeding='No' then 1 else 0 end)[Child2_Brestfeeding_No]
      ,(case when Child2_Brestfeeding='Yes' then 1 else 0 end)[Child2_Brestfeeding_Yes]
      ,(case when Child3_ID is null then 0 when Child3_ID='' then 0 else 1 end)[Child3_ID_Present]
      ,(case when Child3_ID is null then 1 when Child3_ID='' then 1 else 0 end)[Child3_ID_Absent]
      ,(case when Child3_Name is null then 0 when Child3_Name='' then 0 else 1 end)[Child3_Name_Present]
      ,(case when Child3_Name is null then 1 when Child3_Name='' then 1 else 0 end)[Child3_Name_Absent]
      ,(case when Child3_Sex is null then 0 when Child3_Sex='' then 0 else 1 end)[Child3_Sex_Present]
      ,(case when Child3_Sex is null then 1 when Child3_Sex='' then 1 else 0 end)[Child3_Sex_Absent]
      ,(case when Child3_Sex='Female' then 1 else 0 end)[Child3_Sex_Female]
      ,(case when Child3_Sex='Male' then 1 else 0 end)[Child3_Sex_Male]
      ,(case when Child3_Sex<>'Female' and Child3_Sex<>'Male' and Child3_Sex<>'' and Child3_Sex is not null then 1 else 0 end)[Child3_Sex_OtherOptions]
      ,(case when Child3_Wt is null then 0 when Child3_Wt='' then 0 else 1 end)[Child3_Wt_Present]
      ,(case when Child3_Wt is null then 1 when Child3_Wt='' then 1 else 0 end)[Child3_Wt_Absent]
      ,(case when Child3_Brestfeeding is null then 0 when Child3_Brestfeeding='' then 0 else 1 end)[Child3_Brestfeeding_Present]
      ,(case when Child3_Brestfeeding is null then 1 when Child3_Brestfeeding='' then 1 else 0 end)[Child3_Brestfeeding_Absent]
      ,(case when Child3_Brestfeeding='No' then 1 else 0 end)[Child3_Brestfeeding_No]
      ,(case when Child3_Brestfeeding='Yes' then 1 else 0 end)[Child3_Brestfeeding_Yes]
      ,(case when Child4_ID is null then 0 when Child4_ID='' then 0 else 1 end)[Child4_ID_Present]
      ,(case when Child4_ID is null then 1 when Child4_ID='' then 1 else 0 end)[Child4_ID_Absent]
      ,(case when Child4_Name is null then 0 when Child4_Name='' then 0 else 1 end)[Child4_Name_Present]
      ,(case when Child4_Name is null then 1 when Child4_Name='' then 1 else 0 end)[Child4_Name_Absent]
      ,(case when Child4_Sex is null then 0 when Child4_Sex='' then 0 else 1 end)[Child4_Sex_Present]
      ,(case when Child4_Sex is null then 1 when Child4_Sex='' then 1 else 0 end)[Child4_Sex_Absent]
      ,(case when Child4_Sex='Female' then 1 else 0 end)[Child4_Sex_Female]
      ,(case when Child4_Sex='Male' then 1 else 0 end)[Child4_Sex_Male]
      ,(case when Child4_Sex<>'Female' and Child4_Sex<>'Male' and Child4_Sex<>'' and Child4_Sex is not null then 1 else 0 end)[Child4_Sex_OtherOptions]
      ,(case when Child4_Wt is null then 0 when Child4_Wt='' then 0 else 1 end)[Child4_Wt_Present]
      ,(case when Child4_Wt is null then 1 when Child4_Wt='' then 1 else 0 end)[Child4_Wt_Absent]
      ,(case when Child4_Brestfeeding is null then 0 when Child4_Brestfeeding='' then 0 else 1 end)[Child4_Brestfeeding_Present]
      ,(case when Child4_Brestfeeding is null then 1 when Child2_Brestfeeding='' then 1 else 0 end)[Child4_Brestfeeding_Absent]
      ,(case when Child4_Brestfeeding='No' then 1 else 0 end)[Child4_Brestfeeding_No]
      ,(case when Child4_Brestfeeding='Yes' then 1 else 0 end)[Child4_Brestfeeding_Yes]
      ,(case when Age is null then 0 when Age='' then 0 when  Age=0 then 0 else 1 end)[Age_Present]
      ,(case when Age is null then 1 when Age='' then 1 else 0 end)[Age_Absent]
      ,(case when Age<=20 and Age>0 then 1 else 0 end)[Age_L19]
      ,(case when Age<=14 then 1 else 0 end)[Age_0_14]
      ,(case when Age>14 and Age<=30 then 1 else 0 end)[Age_15_30]
      ,(case when Age>30 and Age<=45 then 1 else 0 end)[Age_31_45]
      ,(case when Age>45 and Age<=50 then 1 else 0 end)[Age_45_50]
      ,(case when Age>50 then 1 else 0 end)[Age_M50]
      ,(case when Age>=20  and Age<=24 then 1 else 0 end)[Age_20_24]
      ,(case when Age>=25  and Age<=29 then 1 else 0 end)[Age_25_29]
      ,(case when Age>=30  and Age<=34 then 1 else 0 end)[Age_30_34]
      ,(case when Age>=35  and Age<=39 then 1 else 0 end)[Age_35_39]
      ,(case when Age>=40  and Age<=44 then 1 else 0 end)[Age_40_44]
      ,(case when Age>=45  and Age<=49 then 1 else 0 end)[Age_45_49]
      ,[Entry_Type]
      ,(case when isnull(Entry_Type,1)=1 then 1 else 0 end)[Entry_Active]
      ,(case when Entry_Type=2 then 1 else 0 end)[Entry_MigratedIN]
      ,(case when Entry_Type=3 then 1 else 0 end)[Entry_MigratedOut]
      ,(case when Entry_Type=8 then 1 else 0 end)[Entry_Deseased]
      ,(case when Entry_Type=9 then 1 else 0 end)[Entry_Death]
      ,(case when Entry_Type<>1 and  Entry_Type<>2 and Entry_Type<>3 and Entry_Type<>8 and Entry_Type<>9 and Entry_Type<>'' and Entry_Type is not null then 1 else 0 end)[Entry_OtherOptions]
      ,[Delete_mother]
      ,(case when isnull(Delete_mother,0)=0 then 1 else 0 end)[Delete_mother_Active]
      ,(case when Delete_mother=1 then 1 else 0 end)[Delete_mother_InActive]
      ,(case when MTHR_REG_DATE is null then 0 when MTHR_REG_DATE='' then 0 else 1 end)[MTHR_REG_DATE_Present]
      ,(case when MTHR_REG_DATE is null then 1 when MTHR_REG_DATE='' then 1 else 0 end)[MTHR_REG_DATE_Absent]
      ,month(MTHR_REG_DATE)[MTHR_REG_DATE_Month]
      ,Year(MTHR_REG_DATE)[MTHR_REG_DATE_Year]
      ,(case when LastUpdateDate is null then 0 when LastUpdateDate='' then 0 else 1 end)[LastUpdateDate_Present]
      ,(case when LastUpdateDate is null then 1 when LastUpdateDate='' then 1 else 0 end)[LastUpdateDate_Absent]
      ,Month(LastUpdateDate)[LastUpdateDate_Month]
      ,Year(LastUpdateDate)[LastUpdateDate_Year]
      ,(case when ANM_ID is null then 0 when ANM_ID='' then 0  when ANM_ID=0 then 0 else 1 end)[ANM_ID_Present]
      ,(case when ANM_ID is null then 1 when ANM_ID='' then 1  when ANM_ID=0 then 1 else 0 end)[ANM_ID_Absent]
      ,(case when ASHA_ID is null then 0 when ASHA_ID='' then 0 else 1 end)[ASHA_ID_Present]
      ,(case when ASHA_ID is null then 1 when ASHA_ID='' then 1  else 0 end)[ASHA_ID_Absent]
      ,(case when b.Call_Ans=1 then 1 else 0 end)[Call_Ans_Yes]
      ,(case when b.Call_Ans=0 then 1 else 0 end)[Call_Ans_No]
      ,(case when b.NoCall_Reason=1 then 1 else 0 end)[NoCall_Reason_Invalid_Number]
      ,(case when b.NoCall_Reason=2 then 1 else 0 end)[NoCall_Reason_Out_of_Service]
      ,(case when b.NoCall_Reason=3 then 1 else 0 end)[NoCall_Reason_Out_of_Reach]
      ,(case when b.NoCall_Reason=4 then 1 else 0 end)[NoCall_Reason_Switched_Off]
      ,(case when b.NoCall_Reason=5 then 1 else 0 end)[NoCall_Reason_No_Reply]
      ,(case when b.NoCall_Reason=6 then 1 else 0 end)[NoCall_Reason_Number_Busy]
      ,(case when b.NoCall_Reason=7 then 1 else 0 end)[NoCall_Reason_CallNotConnected]
      ,(case when b.IsPhoneNoCorrect=1 then 1 else 0 end)[Phoneno_Correct]
      ,(case when b.IsPhoneNoCorrect=0 then 1 else 0 end)[Phoneno_NotCorrect]
      ,(case when b.IsPhoneNoCorrect<>0 and b.IsPhoneNoCorrect<>1 then 1 else 0 end)[Phoneno_Other]
      ,(case when b.NoPhone_Reason=1 then 1 else 0 end)[NoPhone_ANMNo]
      ,(case when b.NoPhone_Reason=2 then 1 else 0 end)[NoPhone_ASHANo]
      ,(case when b.NoPhone_Reason=3 then 1 else 0 end)[NoPhone_NeighbourNo]
      ,(case when b.NoPhone_Reason=4 then 1 else 0 end)[NoPhone_WrongNo]
      ,(case when b.NoPhone_Reason=5 then 1 else 0 end)[NoPhone_NoAudio]
      ,(case when b.NoPhone_Reason=11 then 1 else 0 end)[NoPhone_Self]
      ,(case when b.NoPhone_Reason=12 then 1 else 0 end)[NoPhone_Husband]
      ,(case when b.NoPhone_Reason=13 then 1 else 0 end)[NoPhone_Relative]
      ,(case when Aadhar_No is null then 0 else 1 end)[Aadhar_No_Present]
      ,(case when Aadhar_No is null then 1  else 0 end)[Aadhar_No_Absent]
      ,(case when BPL_APL is null then 0 when BPL_APL='' then 0 else 1 end)[BPL_APL_Present]
      ,(case when BPL_APL is null then 1 when BPL_APL='' then 1 else 0 end)[BPL_APL_Absent]
      ,(case when BPL_APL=1 then 1 else 0 end)[BPL_APL_BPL]
      ,(case when BPL_APL=2 then 1 else 0 end)[BPL_APL_APL]
      ,(case when BPL_APL=99 then 1 else 0 end)[BPL_APL_NotKnown]
      ,(case when EID is null then 0 else 1 end)[EID_Present]
      ,(case when EID is null then 1  else 0 end)[EID_Absent]
      ,(case when EIDTime is null then 0 when EIDTime='' then 0 else 1 end)[EIDTime_Present]
      ,(case when EIDTime is null then 1 when EIDTime='' then 1 else 0 end)[EIDTime_Absent]
      ,(case when a.CPSMS_Flag is null then 0 when a.CPSMS_Flag='' then 0 else 1 end)[CPSMS_Flag_Present]
      ,(case when a.CPSMS_Flag is null then 1 when a.CPSMS_Flag='' then 1 else 0 end)[CPSMS_Flag_Absent]
      ,(case when IsHusbandFather=1 and Husband_Name<>'' and Husband_Name is not null then 1 else 0 end)[Father_Name_Present]
      ,(case when IsHusbandFather=1 and (Husband_Name='' or Husband_Name is  null) then 1 else 0 end)[Father_Name_Absent]
      ,(case when isnull(IsHusbandFather,0)=0 and Husband_Name<>'' and Husband_Name is not null then 1 else 0 end)[HusbandName_Present]
      ,(case when isnull(IsHusbandFather,0)=0 and (Husband_Name='' or Husband_Name is  null) then 1 else 0 end)[HusbandName_Absent]
      ,(case when c.Acc_No is null then 0 when c.Acc_No='' then 0 else 1 end)[Acc_No_Present]
      ,(case when c.Acc_No is null then 1 when c.Acc_No='' then 1 else 0 end)[Acc_No_Absent]
      ,(case when c.IFSC_Code is null then 0 when c.IFSC_Code='' then 0 else 1 end)[IFSC_Code_Present]
      ,(case when c.IFSC_Code is null then 1 when c.IFSC_Code='' then 1 else 0 end)[IFSC_Code_Absent]
      ,a.MTHR_REG_DATE
      ,a.LastUpdateDate
      ,(case when a.Child1_Wt is not null and a.Child1_Wt<>'' and  a.Child1_Wt <2.5 and a.Child1_Wt>0 then 1 else 0 end)
      ,(case when Month(LMP_Date)>=4 then Year(LMP_Date) else Year(LMP_Date)-1 end ) as [LMP_Year_FinYr]
      ,(case when Month(Dateadd(DAY,30,LMP_Date))>=4 then Year(Dateadd(DAY,30,LMP_Date)) else Year(Dateadd(DAY,30,LMP_Date))-1 end ) as [LMP_Plus30_Year_FinYr]
      ,(case when Month(Dateadd(DAY,91,LMP_Date))>=4 then Year(Dateadd(DAY,91,LMP_Date)) else Year(Dateadd(DAY,91,LMP_Date))-1 end ) as [LMP_Plus91_Year_FinYr]
      ,(case when Month(Dateadd(DAY,92,LMP_Date))>=4 then Year(Dateadd(DAY,92,LMP_Date)) else Year(Dateadd(DAY,92,LMP_Date))-1 end ) as [LMP_Plus92_Year_FinYr]
      ,(case when Month(Dateadd(DAY,188,LMP_Date))>=4 then Year(Dateadd(DAY,188,LMP_Date)) else Year(Dateadd(DAY,188,LMP_Date))-1 end ) as [LMP_Plus188_Year_FinYr]
      ,(case when Month(Dateadd(DAY,189,LMP_Date))>=4 then Year(Dateadd(DAY,189,LMP_Date)) else Year(Dateadd(DAY,189,LMP_Date))-1 end ) as [LMP_Plus189_Year_FinYr]
      ,(case when Month(Dateadd(DAY,244,LMP_Date))>=4 then Year(Dateadd(DAY,244,LMP_Date)) else Year(Dateadd(DAY,244,LMP_Date))-1 end ) as [LMP_Plus244_Year_FinYr]
      ,(case when Month(Dateadd(DAY,245,LMP_Date))>=4 then Year(Dateadd(DAY,245,LMP_Date)) else Year(Dateadd(DAY,245,LMP_Date))-1 end ) as [LMP_Plus245_Year_FinYr]
      ,(case when Month(Dateadd(DAY,280,LMP_Date))>=4 then Year(Dateadd(DAY,280,LMP_Date)) else Year(Dateadd(DAY,280,LMP_Date))-1 end ) as [LMP_Plus280_Year_FinYr]
      ,(case when Month(Dateadd(Month,4,LMP_Date))>=4 then Year(Dateadd(Month,4,LMP_Date)) else Year(Dateadd(Month,4,LMP_Date))-1 end ) as [LMP_Plus4_Year_FinYr]
      ,(case when Month(Dateadd(Month,1,TT1_Date))>=4 then Year(Dateadd(Month,1,TT1_Date)) else Year(Dateadd(Month,1,TT1_Date))-1 end ) as [TT1_Plus1_Year_FinYr]
      ,(case when Month(ANC1_Date)>=4 then Year(ANC1_Date) else Year(ANC1_Date)-1 end ) as [ANC1_Date_Year_FinYr]
      ,(case when Month(ANC2_Date)>=4 then Year(ANC2_Date) else Year(ANC2_Date)-1 end ) as [ANC2_Date_Year_FinYr]
      ,(case when Month(ANC3_Date)>=4 then Year(ANC3_Date) else Year(ANC3_Date)-1 end ) as [ANC3_Date_Year_FinYr]
      ,(case when Month(ANC4_Date)>=4 then Year(ANC4_Date) else Year(ANC4_Date)-1 end ) as [ANC4_Date_Year_FinYr]
      ,(case when Month(TT1_Date)>=4 then Year(TT1_Date) else Year(TT1_Date)-1 end ) as [TT1_Date_Year_FinYr]
      ,(case when Month(TT2_Date)>=4 then Year(TT2_Date) else Year(TT2_Date)-1 end ) as [TT2_Date_Year_FinYr]
      ,(case when Month(TTBooster_Date)>=4 then Year(TTBooster_Date) else Year(TTBooster_Date)-1 end ) as [TTBooster_Date_Year_FinYr]
      ,(case when Month(IFA100_Given_Date)>=4 then Year(IFA100_Given_Date) else Year(IFA100_Given_Date)-1 end ) as [IFA100_Given_Date_Year_FinYr]
      ,(case when Month(Dly_Date)>=4 then Year(Dly_Date) else Year(Dly_Date)-1 end ) as [Dly_Date_Date_Year_FinYr]
      ,(case when Month(Discharge_Date)>=4 then Year(Discharge_Date) else Year(Discharge_Date)-1 end ) as [Discharge_Date_Year_FinYr]
      ,(case when Month(JSY_Paid_Date)>=4 then Year(JSY_Paid_Date) else Year(JSY_Paid_Date)-1 end ) as [Dly_Date_Date_Year_FinYr]
      ,(case when Abortion<>'None' and  Abortion<>'' and Abortion is not null and Month(Dly_Date)>=4 then Year(Dly_Date) else Year(Dly_Date)-1 end) as [Abortion_Date_Year_FinYr]
      ,(case when Month(MTHR_REG_DATE)>=4 then Year(MTHR_REG_DATE) else Year(MTHR_REG_DATE)-1 end ) as [MTHR_REG_DATE_Year_FinYr]
      ,(case when Month(LastUpdateDate)>=4 then Year(LastUpdateDate) else Year(LastUpdateDate)-1 end ) as [LastUpdateDate_Year_FinYr]
      ,0 Total_CallCentre_Verified
      ,0 as Total_MCTFC_Verified
      ,0 as [Aadhaar_Linked]
      ,a.Birthdate
      from MCR_24.dbo.NRHM_Format_Mother a
      left outer join MCR_24.dbo.MotherEntry_Verification b on a.ID_No=b.ID_No
      left outer join MCR_24.dbo.NRHM_Format_Mother_BankDetails c on a.ID_No=c.ID_No
      --where a.District_ID=9


      
      update MCR_24.dbo.NRHM_Format_Mother_Total set [Call_Ans_Yes]=(case when b.Call_Ans=1 then 1 else 0 end)
      ,[Call_Ans_No]=(case when b.Call_Ans=0 then 1 else 0 end)
      ,[NoCall_Reason_Invalid_Number]=(case when b.NoCall_Reason=1 then 1 else 0 end)
      ,[NoCall_Reason_Out_of_Service]=(case when b.NoCall_Reason=2 then 1 else 0 end)
      ,[NoCall_Reason_Out_of_Reach]=(case when b.NoCall_Reason=3 then 1 else 0 end)
      ,[NoCall_Reason_Switched_Off]=(case when b.NoCall_Reason=4 then 1 else 0 end)
      ,[NoCall_Reason_No_Reply]=(case when b.NoCall_Reason=5 then 1 else 0 end)
      ,[NoCall_Reason_Number_Busy]=(case when b.NoCall_Reason=6 then 1 else 0 end)
      ,[NoCall_Reason_CallNotConnected]=(case when b.NoCall_Reason=7 then 1 else 0 end)
      ,[Phoneno_Correct]=(case when b.IsPhoneNoCorrect=1 then 1 else 0 end)
      ,[Phoneno_NotCorrect]=(case when b.IsPhoneNoCorrect=0 then 1 else 0 end)
      ,[Phoneno_Other]=(case when b.IsPhoneNoCorrect<>0 and b.IsPhoneNoCorrect<>1 then 1 else 0 end)
      ,[NoPhone_ANMNo]=(case when b.NoPhone_Reason=1 then 1 else 0 end)
      ,[NoPhone_ASHANo]=(case when b.NoPhone_Reason=2 then 1 else 0 end)
      ,[NoPhone_NeighbourNo]=(case when b.NoPhone_Reason=3 then 1 else 0 end)
      ,[NoPhone_WrongNo]=(case when b.NoPhone_Reason=4 then 1 else 0 end)
      ,[NoPhone_NoAudio]=(case when b.NoPhone_Reason=5 then 1 else 0 end)
      ,[NoPhone_Self]=(case when b.NoPhone_Reason=11 then 1 else 0 end)
      ,[NoPhone_Husband]=(case when b.NoPhone_Reason=12 then 1 else 0 end)
      ,[NoPhone_Relative]=(case when b.NoPhone_Reason=13 then 1 else 0 end)
      ,Total_CallCentre_Verified=(case when b.Call_Ans=1 and b.IsPhoneNoCorrect=1 then 1 else 0 end )  
       from MCR_24.dbo.MotherEntry_Verification b
       where MCR_24.dbo.NRHM_Format_Mother_Total.ID_no=b.ID_no

       
       update MCR_24.dbo.NRHM_Format_Mother_Total set [Acc_No_Present]=(case when c.Acc_No is null then 0 when c.Acc_No='' then 0 else 1 end)
      ,[Acc_No_Absent]=(case when c.Acc_No is null then 1 when c.Acc_No='' then 1 else 0 end)
      ,[IFSC_Code_Present]=(case when c.IFSC_Code is null then 0 when c.IFSC_Code='' then 0 else 1 end)
      ,[IFSC_Code_Absent]=(case when c.IFSC_Code is null then 1 when c.IFSC_Code='' then 1 else 0 end)
      ,[Aadhaar_Linked]=(case when c.Is_Aadhar_linked=1 then 1 else 0 end)
       from MCR_24.dbo.NRHM_Format_Mother_BankDetails c
       where MCR_24.dbo.NRHM_Format_Mother_Total.ID_no=c.ID_no

       
       update MCR_24.dbo.NRHM_Format_Mother_Total set Total_MCTFC_Verified=(case when d.Call_Ans=1 and d.IsPhoneNoCorrect=1 then 1 else 0 end )
       from MCR_24.dbo.MotherEntry_Verification_Callcenter d
       where MCR_24.dbo.NRHM_Format_Mother_Total.ID_no=d.ID_no
       
       
       
       
      
      
end

